<div class="container">
<h1>UNM APR Self-Study</h1>


  <ol>  
    <% @criteria.each do |criterion| %>
    <li>
      <b><%= criterion.title %></b><br><br>
      <% criterion.subcriteria.each do |subcriterion| %>
      <%= h(subcriterion.title) %>
      <p class="answer">
        <%= best_in_place subcriterion, :narrative, :type => :input %>
      </p>
      <% end %>
      <% end %>      
    </li>
  </ol>

<br />

<%= link_to 'New Criterion', new_criterion_path %>
<p><%= link_to "Printable Report (PDF)", criteria_path(format: "pdf") %></p>
</div>


</div>