<h1>Listing criteria</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Program</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @criteria.each do |criterion| %>
  <tr>
    <td><%= criterion.title %></td>
    <td><%= criterion.program_id %></td>
    <td><%= link_to 'Show', criterion %></td>
    <td><%= link_to 'Edit', edit_criterion_path(criterion) %></td>
    <td><%= link_to 'Destroy', criterion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Criterion', new_criterion_path %>
